language.dtd

<!DOCTYPE HEADER [
<!ELEMENT Header(header)>
<!ELEMENT header (#PCDATA)>
<!ELEMENT SCRIPT - - CDATA      -- script statements -->
<!ATTLIST SCRIPT
  type        CDATA      #IMPLIED  -- Internet content type for
                                      script language --
  language    CDATA      #IMPLIED  -- predefined script language name --
  src         %URL       #IMPLIED  -- URL for an external script --
  >
<!ATTLIST header id CDATA #REQUIRED>
]>
